@font-face {
    font-family: metaplus-book;
    src: url(".././fonts/metaplus-book.ttf");
}

@font-face {
    font-family: metaplus-bold;
    src: url(".././fonts/metaplus-bold.ttf");
}

body {
    background: #c6def2;
}

.wrapper {
	margin: 0 auto;
	width:960px; 
    position: relative;
}


p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.logo_and_search:after {
	content: "";
	width: 100%;
	display: inline-block;
}

.header_logo {
    font-size: 38pt;
	float:left;
}

.first_part_logo {
	font-family: metaplus-book, serif;
}

.second_part_logo {
	font-family: metaplus-bold, serif;
}

.header_search {
	float:right;
	margin-top: 18px;
	margin-right: -15px;
}

.first_part_logo, .second_part_logo, .third_part_logo {
    color: #4e8eed;
}



.header_menu {
	margin-bottom: 15px;
    width:960px; 
    height:49px; 
    color: white; 
    background:#3368bd; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
}

.header_menu ul {
	font-family: metaplus-book, serif;
    font-size: 16pt;
    list-style-type: none;
    background-color: #3368bd;
	-moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
}

.header_menu li {
    float: left;
	padding: 12px 0px 0px 19px; 
}

.header_menu li>a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown-content {
	border-style: solid;
	border-width: 2px;
	border-color: #9bbeee;
	color:#3368bd;
    display: none;
    position: absolute;
    background-color: #cbdefa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
	-moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
	z-index: 10000;
}

 .dropdown-content:after {
	content: '';
	display: block;  
	position: absolute;
	left: 20px;
	bottom: 100%;
	width: 0;
	height: 0;
	border-bottom: 7px solid #cbdefa;
	border-top: 7px solid transparent;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
} 


.dropdown-content a {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	font-family: arial, serif;
	font-size: 14pt;
    color: #3368bd;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:first-child{
	padding-top: 10px;
}

.dropdown-content a:last-child{
	padding-bottom: 10px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow-down {
	position: absolute;
	margin-top: 12px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid white;
}

.icon{
	width:306px;

}

.icon input[type="text"] {
    border: medium none;
    height: 38px;
    padding: 5px 14px;
    width: 71%;
	float:left;
	border-right:solid 1px #bfbfbf;
	border-radius: 15px 0 0 15px;
}

.icon input[type="submit"] {
    background: url(../images/find.png) center no-repeat;
	background-color: #f8b845;
	text-indent: -9999px; 
	width:72px;
    border: medium none;
    color: #f8b845;
    cursor: pointer;
    height: 38px;
    padding: 5px 14px;
	border-radius: 0 15px 15px 0;
}

.contain {
	-moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
	padding-top: 20px;
	background-color:white;
	overflow: hidden; 
	clear: both; 

}

.contain div {
	 border-radius: 15px; 
}

.flexslider {
	border: 0 !important;
}

.flexslider img{
	border-radius: 15px;
}

#one {

	width: 65%;
	display:inline-block;
	margin: 15px;
	
}

#two {
  vertical-align: top;
  width:28%;
  display:inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
}

.informativo-main {
	background-color: #ebeef2; 

}
 .informativo {
    background: #ce6df7;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
	height: 30px;
	font-size: 18pt;
	font-family: arial, serif;
   }
   
   .informativo::after {
    content: ''; 
    position: absolute; 
    left: 20px; bottom: -20px; 
    border: 10px solid transparent; 
    border-top: 10px solid #ce6df7; 
}
   
 .title {
	margin-top: -0.5em;
} 

.email-context{
	margin: 15px; 
	font-size: 10pt;
	font-family: arial, serif;
}

.form {
	margin: 15px;
}

.form input[type="text"] {
	font-size: 15px;
    height: 30px;
	width: 100%;
	padding-left: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	
}
.form input[type="submit"] {
	border: 0;
	background-color:#9662a8;
    color: white;
    height: 30px;
	border-radius: 15px; 
	margin-bottom: 10px;
}

 .destaques {
    background: #6753cf;
    border-radius: 10px;
    position: relative;
    color: #fff;
	vertical-align: top;
	padding: 15px;
	
}
   
.destaques::after {
	content: ''; 
	position: absolute; 
	left: 20px; bottom: -20px; 
	border: 10px solid transparent; 
	border-top: 10px solid #6753cf; 
}
   
.destaques-title {
	position: absolute;
	margin-left: 0.5em;
	margin-top: -0.6em;
	font-size: 14pt;
	font-family: arial, serif;
}

.dicas-main {
  height:640px;
  background-color: #ebeef2;
  font-family: arial, serif;
}

.dicas {
  position: relative;
  padding-left: 20px;
  height: 40px;
  background: #ff7878;
  border-radius: 10px;
}

.dicas::after {
  content: '';
  position: absolute; 
  left: 20px; bottom: -20px; 
  border: 10px solid transparent; 
  border-top: 10px solid #ff7878; 
}

.dicas-title {
  height: 40px;
  line-height: 40px;
  font-size: 18pt;
  color: #fff;
}

.dicas-list {
  font-size: 12pt;
}

.dicas-list ol {
  padding: 0;
  list-style-type: none; 
  counter-reset: num; 
}

.dicas-list li{
  position: relative;
  /* min-height: 60px; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  border-bottom: solid #ff7878 1px;
}
.dicas-list li::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: counter(num); 
  counter-increment: num; 
  color: #ff7878;
  font-size: 40pt;
}

.contain-title1 {
	float: left;
	width: 49%;
	color: #6753cf;
	font-size: 18px;
}

.contain-title2 {
	float: right;
	width: 49%;
	color: #6753cf;
	font-size: 18px;
	
}

.contain-context1 {
	float: left;
	width: 49%;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
	margin-bottom: 15px;
}

.contain-context2 {
	float: right;
	width: 49%;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
	margin-bottom: 15px;
}

.contain1 {
	font-family: arial, serif;
	margin-bottom: 80px;
}

.children hr{
    color: #6753cf;
    background-color: #6753cf;
}

.contain2-image {
	float: left;
}

 .contain2-title {
    font-family: arial, serif;
	font-size: 18px;
	color: #514ca0;
}

.contain2-context {
    font-family: arial, serif;
    font-size: 12px;
}

.contain2 {
    margin-right: 15px;
}

.contain2 img {
    margin-right: 15px;
}
.contain2-div {
    margin-top: 15px;

}
.conteundo-main {
	background: #ebeef2;
}

.conteundo {
    background: #8fa0ff;
    border-radius: 10px;
    position: relative;
    color: #fff;
	height: 30px;
}
   
.conteundo::after {
content: ''; 
position: absolute; 
left: 20px; bottom: -20px;
border: 10px solid transparent; 
border-top: 10px solid #8fa0ff; 
}
   
 .conteundo-title {
    text-align: center;
	/* margin: auto; */
	position: absolute;
    top: 50%;
	margin-left: 0.5em;
	margin-top: -0.6em;
	font-size: 14pt;
	font-family: arial, serif;
} 

.conteundo-contain {
	font-family: arial, serif;
	font-size: 14px;
	color: #8fa0ff;
}

.conteundo-contain p {
	padding-left: 10px;
	padding-top: 5px;
	/* margin:  7px; */
}

.conteundo-contain p:last-child{ 
	padding-bottom: 15px;
}
.picture-menu {
	 background: #ebeef2;
	 border-radius: 10px;
	 margin-top: 10px;
	 margin-bottom: 15px;
	 padding-left: 10px;
	 padding-top: 5px;
	 padding-bottom: 5px;
}


.interatividade-main {
  height:130px;
  min-width: 250px;
  background-color: #ebeef2;
  font-family: arial, serif;
}

.interatividade {
  position: relative;
  height: 40px;
  background: #8bc751;
  border-radius: 10px;
}

.interatividade::after {
  content: '';
  position: absolute; 
  left: 20px; bottom: -20px; 
  border: 10px solid transparent; 
  border-top: 10px solid #8bc751; 
}

.interatividade-title {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 18pt;
  color: #fff;
}

.interatividade-title p{
  margin: 0;
}

.social-networks {
	margin: 0px;
	padding: 0px;
}

.pagina {
	font-family: arial, serif;
	font-size: 18px;
	color: #b4c2d1;
	margin-top: 25px;
	margin-bottom: 25px;
}

.pagina span {
	background: #ebeef2;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10px;
}

.palavras-main {
	background-color: #ebeef2; 
	height:240px;
	min-width: 250px;
	font-family: arial, serif;

}

.palavras {
    background: #ce6df7;
    border-radius: 10px;
    position: relative;
    color: #fff;
	height: 40px;
	font-size: 12pt;
	font-family: arial, serif;
}
   
.palavras::after {
    content: ''; 
    position: absolute; 
    left: 20px; bottom: -20px; 
    border: 10px solid transparent; 
    border-top: 10px solid #ce6df7; 
}

.palavras-title {
  padding-left: 20px; 
  padding-top: 5px; 
  font-size: 18pt;
  color: #fff;
  vertical-align: top;
}


.tags-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags-list {
  padding: 20px;
  text-align: center;
}
.tags-list a {
    font-size: .9em;
    line-height: 1.3em;
    color: orange;
    text-transform: lowercase;
}
.tags-list a:hover {
   text-decoration: underline;
}
.tag-lg a{
    font-size: 1.2em;
}
.tag-xlg a{
    font-size: 1.4em;
}
.tags-list li {
    display: inline;
}


#footer{
	margin: 0 auto;
    width:960px;
    color: #3368bd;
    background:#3368bd; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    padding-top: 25px;
	padding-bottom: 60px;
	padding-right: 15px;
	margin-top: 15px; 
}



/* .footer_menu :after{
	 width: 100%; 
	 display: inline-block; 
} */

.footer_menu {
	font-family: arial, serif;
	font-size: 13px;
	color: white;
	margin: 25px;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 20%;
	float: left;
}


.cbp-hrmenu .cbp-hrsub-inner ul {
	padding-left: 15px;
}

.cbp-hrsub-inner a {
	color: white;
}

.footer_header{
	color: #6aa0f0;
    font-size: 18pt;
	margin-left: 25px;
	
}

.footer-bottom {
	display: inline-block;
	padding: 0;
}

.footer_text{
	float: left;
    color: white;
    font-size: 11pt;
    font-family: arial, serif;
	padding: 15px;
}

.footer_topo{
	float: right;
	background: #a5c9eb;
	padding: 15px;
	padding-bottom: 25px;
	color: white;
	border-radius: 25px; 
	height: 30px;
	width: 100px;
	padding-left: 35px;
}

.footer-arrow-down {
	position: absolute;
	margin-left: -15px;
	margin-top: 6px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid white;

}

.footer-topo-text {
	padding-bottom: 15px;
}